version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        user: arunikaltim
        uid: 1000
    image: arunikaltim/app
    container_name: app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - arunikaltim

  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/var/lib/mysql
    networks:
      - arunikaltim

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
      - ./docker-compose/certbot/conf:/etc/letsencrypt
      - ./docker-compose/certbot/www:/var/www/certbot
    networks:
      - arunikaltim

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./docker-compose/certbot/conf:/etc/letsencrypt
      - ./docker-compose/certbot/www:/var/www/certbot

networks:
  arunikaltim:
    driver: bridge