version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        user: arunikaltim
        uid: 1000
    image: arunikaltim/app
    container_name: app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    # Tambahkan ports ini agar Nginx di VPS bisa terhubung ke PHP-FPM
    ports:
      - "9000:9000"
    networks:
      - arunikaltim

  db:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/var/lib/mysql
    networks:
      - arunikaltim

networks:
  arunikaltim:
    driver: bridge